@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-beige flex justify-center;
}

* {
  @apply p-0 m-0;
  box-sizing: border-box;
}

body {
  max-width: theme("screens.sm");
  width: theme("screens.sm");
  min-height: 100vh;
}

.header-background {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 400px;
  background-position-x: 50vw;
  background-position-y: 20vh;
  background-attachment: fixed;
}

.special-button {
  @apply bg-beige
   text-black
    py-2 px-4 
    rounded-full 
    hover:-translate-y-1
    active:translate-y-0
    transition-transform;
}

.stack-holder {
  display: grid;

  & > * {
    grid-area: 1 / 1 / 1 / 1;
  }
}
